<!-- Begin FORM INPUT SEKOLAH -->
            <h2>Input Sekolah</h2>
            <form action="/inputing_schools" method="POST">
                <div class="form-group">
                    <label>No. Induk:</label>
                    <input type="text" name="no_induk" class="form-control" required>
                </div>
                <div class="form-group">
                    <label>Nama Sekolah: </label>
                    <input type="text" class="form-control" name="nama_sekolah" required>
                </div>
                <div class="form-group">
                    <label>Alamat: </label>
                    <input type="text" class="form-control" name="alamat" required>
                </div>
                <div class="form-group">
                    <label>No. Telp: </label>
                    <input type="text" class="form-control" name="no_telp" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
            {% if sukses %}
            <p><b>{{ sukses }}</b></p>
            {% endif %}
            {% if error %}
            <p><b>{{ error }}</b></p>
            {% endif %}
            <!-- END FORM SEKOLAH -->