<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ title }} - testing page</title>
    </head>
    <body>
        <h1>Hello, {{ user.nickname }}!</h1>
    </body>
</html>
