<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple login form</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/googlefonts_style1.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"> -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='scss/style.scss')}}"> -->


</head>

<body>
  <div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form action="#" method="post">
        <input type="text" name="user" placeholder="Username" required="required" class="input-txt" />
          <input type="password" name="password" placeholder="Password" required="required" class="input-txt" />
          <div class="login-footer">
             <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span>
              I've forgotten something
            </a>
            <button type="submit" class="btn btn--right">Sign in  </button>

          </div>
      </form>
  </div>
</div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" charset="utf-8"></script>

</body>
</html>
