<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Simple login form</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.min.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


</head>

<body>
  <div class="container">
  <div class="login">
  	<h1 class="login-heading">
      <strong>Welcome.</strong> Please login.</h1>
      <form method="post">
        <input type="text" name="user" placeholder="Username" required="required" class="input-txt" />
          <input type="password" name="password" placeholder="Password" required="required" class="input-txt" />
          <div class="login-footer">
             <a href="#" class="lnk">
              <span class="icon icon--min">ಠ╭╮ಠ</span>
              I've forgotten something
            </a>
            <button type="submit" class="btn btn--right">Sign in  </button>

          </div>
      </form>
  </div>
</div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>

</body>
</html>
